// 1. Core Gut Reference Parameters
params {
    repo_fasta = "${projectDir}/assets/gut_ref/gg2_filtered_backbone.fna"
    repo_si    = "${projectDir}/assets/gut_ref/gg2_repo_info.csv"
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

process {
    withName: '.*DlBuildTaxtasticDB.*' {
        container = 'ghcr.io/fhcrc/taxtastic:latest'
    }
}
